<h2>New Tweet!</h2>
<form class="tweet-compose" action="/tweets" method="POST">
  <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>
    Content
    <textarea id="tweet-content" name="tweet[content]">
    </textarea>
    <strong class="chars-left"></strong>
  </label>
  <br>

  <label>
    Mention
    <select id="tweet-mentions" name="tweet[mentioned_user_ids][]">
      <option></option>
      <% User.all.each do |user| %>
        <option value="<%= user.id %>"><%= user.username %></option>
      <% end %>
    </select>
  </label>
  <br>

  <input id="submit-button" type="Submit" value="Post Tweet!">
</form>
